@page "/about"

<h1>About</h1>

<div>
    <p>
        The content for this tool was coallated from the following sources:
        <ul>
            <li><a href="https://www.writtenwordmedia.com/500-writing-prompts-to-help-beat-writers-doubt/" target="_blank">500 Writing Prompts to Help Beat Writer's Block</a></li>
        </ul>
    </p>
</div>


<div class="footer">Created for my amazing wife. Enjoy these digital prompts, my love! -2021</div>

@code {

}
