@page "/about"

<h1>About</h1>

<div>
    <p>
        The content for this tool was coallated from the following sources:
        <ul>
            <li><a href="https://www.writtenwordmedia.com/500-writing-prompts-to-help-beat-writers-doubt/" target="_blank">500 Writing Prompts to Help Beat Writer's Block</a></li>
            <li><a href="https://www.squibler.io/blog/romance-writing-prompts-2/" target="_blank">130+ Romance Writing Prompts For Adults</a></li>
            <li><a href="https://www.squibler.io/blog/writing-prompt-for-adults/#Thriller_Writing_Prompts_for_Adults" target="_blank">140 Creative Writing Prompts For Adults</a></li>
        </ul>
    </p>
</div>

<div class="row">
    <div>Created for my amazing wife. Enjoy these digital prompts, my love! - 2021</div>
</div>

@code {

}
